/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url(./globals.css);
@import url(./navbar.css);

/* General Class, reusable */
.blue-18-bold {
  font-size: 18px;
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;

  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}

body {
  font-family: Mulish;
  /* margin-left: 128px;
  margin-right: 128px; */
}

main {
  width: 100%;
  margin-left: 128px;
  margin-right: 128px;

  /* z-index: 2; */
}

/* HORIZONTAL LINE */
.full-hr-line {
  width: 100%;
  border-bottom: 1px solid #dedede;
  margin-bottom: 48px;
}

/* HERO */
.f-hero {
  width: 100%;
  height: 28em;
  margin-left: -128px;
  margin-right: -128px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-image: url(../assets/images/avengers-dark.png);
  background-size: cover;
  background-position: center;

  padding: 130px;
}

.title-list-movie {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.title-p {
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
}

/* EXCITING MOVIES */
.exciting-movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  z-index: 2;
}

.exciting-movies > ul {
  display: flex;
  list-style: none;
}

.exciting-movies > div:first-child {
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
}

.exciting-movies > div:nth-child(2) {
  font-size: 32px;
}

.exciting-movies > ul {
  display: flex;
  gap: 8px;
}

.list-of-exciting {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.movie-poster {
  width: 264px;
  border-radius: 12px;
}

.title {
  font-weight: 700;
  font-size: 24px;
}

.genres > ul {
  list-style: none;
  display: flex;
  gap: 4px;
}

.launched-on {
  font-weight: 700;
  font-size: 18px;
  color: #1d4ed8;
}

.genres > ul > li {
  color: #a0a3bd;
  background-color: #a0a3bd1a;
  padding: 4px 16px;
  border-radius: 20px;
  font-size: 16px;
}

.subscribe {
  background-color: #2563eb;
  border: 0;
  border-radius: 9px;
  color: #ffffff;
  padding: 58px 48px;
  margin-top: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  position: relative;
}

.subscribe::after {
  content: "";
  border: 7px solid #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;

  top: 180px;
  right: -170px;
}

.subscribe-text {
  font-weight: 400;
  font-size: 48px;
}

.subscribe > div > input {
  padding: 18px 18px;
  border: 1px solid #ffffff;
  border-radius: 9px;
  background-color: #2563eb;
}

.subscribe-button {
  background-color: #ffffff;
  border: 0;
  padding: 18px 36px;
  border-radius: 9px;
  color: #1d4ed8;
  font-weight: 500;
  font-size: 18px;
}
