/* NAVBAR */
nav {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 10rem;
  margin-right: 10rem;
}

.navbar li:nth-child(2) {
  margin-left: auto;
}

.navbar li:nth-child(5) {
  margin-left: auto;
}

.navbar li:nth-child(6) {
  margin-left: -48px;
}

.navbar li:nth-child(7) {
  display: none;
}

nav > ul {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: min(4rem, 8%);
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: #0f172a;
}

.btn-signin {
  padding: 12px 16px;
  border: 1px solid #1d4ed8;
  border-radius: 4px;
  color: #1d4ed8;
}
.btn-signup {
  padding: 12px 16px;
  border: 1px solid #1d4ed8;
  border-radius: 4px;
  background-color: #1d4ed8;
  color: white;
}

.nav-drop-down {
  flex-direction: column !important;
  align-items: flex-end;
  gap: 28px;
}

.drop-down {
  display: block !important;
  margin-left: 0 !important;
}

/* Responsive Navbar */
@media screen and (max-width: 768px) {
  /* Hilangkan menu yang tidak digunakan */
  .navbar li:nth-child(2),
  .navbar li:nth-child(3),
  .navbar li:nth-child(4),
  .navbar li:nth-child(5),
  .navbar li:nth-child(6) {
    display: none;
  }

  .hamburger-menu {
    margin-left: 320px !important;
    display: inline !important;
  }
}
